<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flya.system.mapper.PzcArtistMapper">

    <resultMap type="top.flya.system.domain.PzcArtist" id="PzcArtistResult">
        <result property="artistId" column="artist_id"/>
        <result property="name" column="name"/>
        <result property="imageUrl" column="image_url"/>
        <result property="description" column="description"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="state" column="state"/>
    </resultMap>


</mapper>
