<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flya.system.mapper.PzcOrderMapper">

    <resultMap type="top.flya.system.domain.PzcOrder" id="PzcOrderResult">
        <result property="orderId" column="order_id"/>
        <result property="userId" column="user_id"/>
        <result property="activityId" column="activity_id"/>
        <result property="money" column="money"/>
        <result property="orderStatus" column="order_status"/>
        <result property="type" column="type"/>
        <result property="outOrderNum" column="out_order_num"/>
        <result property="intro" column="intro"/>
        <result property="title" column="title"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


</mapper>
