<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flya.system.mapper.PzcRegionMapper">

    <resultMap type="top.flya.system.domain.PzcRegion" id="PzcRegionResult">
        <result property="regionId" column="region_id"/>
        <result property="base" column="base"/>
        <result property="name" column="name"/>
        <result property="imgUrl" column="img_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="state" column="state"/>
    </resultMap>


</mapper>
