<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.flya.system.mapper.PzcUserHistoryMapper">

    <resultMap type="top.flya.system.domain.PzcUserHistory" id="PzcUserHistoryResult">
        <result property="historyId" column="history_id"/>
        <result property="userId" column="user_id"/>
        <result property="activityId" column="activity_id"/>
        <result property="type" column="type"/>
        <result property="message" column="message"/>
        <result property="createTime" column="create_time"/>
    </resultMap>


</mapper>
